@media only screen and (min-width: 600px)  
{
    .hero-image{
        float: right;
    }
    .deck{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
    }
    .ccontainer{
        float: left;
        left: 30%;
        transform: translate(0%, -50%);
    }
    .contact{
        transform: translate(30%, 50%);
    }

}